:root {
  /* Colors */
  --bg-primary: #131011;
  --bg-secondary: #3e3a39;

  --text-primary: #efefef;
  --text-secondary: #c8c9c9;
  --text-light: #efefef;

  --primary-color: #d04c31;
  --secondary-color: #f6c458;
  --accent-color: #f6c458;

  --chalkboard-bg: #2B4141;
  /* Dark Slate Green */
  --chalk-text: #F0F0F0;

  --postit-yellow: #FFF9B0;
  --postit-pink: #FFC4C4;
  --postit-blue: #C4F0FF;
  --postit-green: #C4FFD6;

  /* Status Colors */
  --status-performer: #FF6B6B;
  --status-audience: #4ECDC4;

  /* Fonts */
  --font-main: 'Noto Sans KR', sans-serif;
  --font-hand: 'Jua', sans-serif;
  /* Cute, rounded font */
}